<html>
<head>
<title>Image test</title>
</head>
<body>
  <h2>Norwegian Mountain Trip</h2>
  <img border="0" src="../static/images/pulpit.jpg" alt="Pulpit rock" width="304" height="228">
  <br>
  <!--本例显示如何创建带有可供点击区域的图像地图。其中的每个区域都是一个超级链接。-->
  <img src="../static/images/planets.gif" width="145" height="126" alt="Planets" usemap="#planetmap">
  <map name="planetmap">
    <area shape="rect" coords="0,0,82,126" alt="Sun" href="sun.html">
    <area shape="circle" coords="90,58,3" alt="Mercury" href="mercur.html">
    <area shape="circle" coords="124,58,8" alt="Venus" href="venus.html">
  </map>
</body>
</html>
