<html>
<head>
<meta charset="utf-8">
<title>This is my first test</title>
<!--网页每60秒刷新一次-->
<!--<meta http-equiv="refresh" content="60">-->
<!--定义网页作者-->
<meta name="author" content="hatcher">
<!--引用外部样式-->
<!--<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">-->
<!--<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">-->
<!--自定义样式-->
<style>
body {background-color:white}
p {color:blue}
h3 {color:red}
</style>
<!--标题加入图标-->
<link rel="icon" href="https://huzidaha.github.io/static/assets/img/favicon.ico">
</head>
<body>
<!--<img src='../static/images/logo.png' width='258' height='39'/>-->
<a href='http://www.runoob.com/'><img src={{ url_for('static', filename='images/logo.png') }} width='258' height='39'/></a>
<h3>Welcome!</h3>
<hr>
<!--style 去除下划线
<a href='http://www.uestc.edu.cn' style="text-decoration:none"><i> hello world</i></a>-->
<a href='http://www.uestc.edu.cn'><i> hello world</i></a>
<br>
<a href="#python_code">查看code</a>
<dl><b>Detail</b>
  <dt>list1</dt>
    <dd>list content</dd>
  <dt>list2</dt>
    <dd>list content</dd>
</dl>
<a id="tips">有用的提示部分</a>
<br><a href="http://www.runoob.com/html/html-links.html#tips">tips</a>
<br><a href="http://www.runoob.com/html">tips</a>
<br><a href="http://www.runoob.com/html/">tips</a>
<code id="python_code">
<pre>
#!/usr/bin/python
def hello():
    print "hello world!"
if __name__ == '__main__':
    hello()
</pre>
</code>
<!--refer http://www.runoob.com/html/html-images.html-->
<a href="imageTest.html">Image link study!</a>
<br>
<!--refer http://www.w3school.com.cn/js/js_intro.asp-->
<a href="jsTest.html?flag=false">js study</a>
<br>
<!--upload file test-->
<a href="uploadFile.html"> upload file study</a>
<br>
<!--<h1 i18n="User welcome|An introduction header for this sample" id="xxx">Hello i18n!</h1>
<h1 i18n>Hello i18n!</h1>
<br>-->
<a href="reactStudy.html"> react.js study</a>
<br>
<a href="helloworldTemplate.html"> hello world template study</a>
<br>
<a href="cookieTest.html"> cookie study</a>
<br>
<a href="domStudy.html">DOM study</a>
<br>
<script>
/*<!--js 实现每隔5s自动刷新页面-->
setTimeout("self.location.reload();",5000);
document.write(Date());
var obj=document.getElementById("xxx");
alert(obj.innerHTML);
document.write(obj.innerHTML);*/
</script>
</body>
</html>
